<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h3>Inserisci la modalità di ricerca:</h3>
    <a href="/piattaforma"><p>1. Piattaforma [Radio]</p></a>
    <a href="/piattaforma1"><p>1. Piattaforma [Check]</p></a>
    <a href="/anno"><p>2. Anno</p></a>
    <a href="/giochipiattaforme"><p>5. Piattaforme che hanno più di un certo numero di giochi</p></a>
    <a href="/genere"><p>7. Genere e Piattforma</p></a>
    <h4>Extra</h4>
    <a href="/score"><p>3. Somma del metascore e dell'user score più alto</p></a>
    <a href="/giochi"><p>4. Numero di giochi per ogni piattaforma.</p></a>
    <a href="/torta"><p>6. Numero di giochi per ogni piattaforma [Torta]</p></a>
    <a href="/treemap"><p>6. Numero di giochi per ogni piattaforma [Treemap]</p></a>
    <a href="/percentuali"><p>8. Percentuale di giochi per genere per ogni piattaforma</p></a>
    <a href="/tortaPercentuali"><p>9. Dati in grafico [Torta] </p></a>
</body>
</html>